<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon> menu </mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">
            <div fxLayout fxLayoutAlign="center center">
                <img src="assets/images/logo.png" alt="App Logo" width="40" height="40" class="logo"/>
                <div> TrackFIT </div>
            </div>

        </a>
        
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>

        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li *ngIf="!isAuth"> <a routerLink="/signup"> Signup </a> </li>
            <li *ngIf="!isAuth" (click)="login()" style="cursor: pointer;"> <a> Login </a> </li>
            <li *ngIf="isAuth"> <a routerLink="/training"> Training </a> </li>
            <li *ngIf="isAuth" (click)="onLogout()" style="cursor: pointer;"> <a> Logout </a> </li>
        </ul>

    </div>
</mat-toolbar>