
mat-form-field {
    width: 400px;
}

.signup-form{

    padding: 50px;
}

.signup-container {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 600px;
  padding: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}


.card-title{
    text-align: center;
}