<div class="welcome" fxLayout="column" fxLayoutAlign="center center"
                        fxLayout.gt-md="row" fxLayoutGap.gt-md="20px">

    <mat-card class="activity-card" appearance="outlined">
        <mat-card-header fxLayOut fxLayoutAlign="center center">
            <mat-card-title>ACTIVITY</mat-card-title>
            <mat-card-subtitle>Excercise</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3>
                Fitness isn't about perfection—it's about persistence. 
                Every drop of sweat, every rep, and every early morning push takes you one step closer to a stronger, 
                healthier version of yourself.
            </h3>
        </mat-card-content>
    </mat-card>

    <mat-card class="community-card" appearance="outlined">
        <mat-card-header fxLayOut fxLayoutAlign="center center">
            <mat-card-title>COMMUNITY</mat-card-title>
            <mat-card-subtitle>Meet People</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3>
                Join a community that shares your passion for growth and wellness. 
                Connect with like-minded individuals, share your journey, and stay inspired. 
                Together, we lift, we learn, and we level up."
            </h3>
        </mat-card-content>
    </mat-card>

    <mat-card class="challenge-card" appearance="outlined">
        <mat-card-header fxLayOut fxLayoutAlign="center center">
            <div>
                <mat-card-title>CHALLENGES</mat-card-title>
                <mat-card-subtitle>Never Stop</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            <h3>
                Embrace the grind, conquer your limits. Every challenge is a chance to grow stronger, 
                faster, and more resilient. Push through the tough days—because quitting isn’t an option. 
                You’re built to rise.
            </h3>
        </mat-card-content>
    </mat-card>
</div>



<div class="ai-div" fxLayout="column" fxLayoutAlign="center center"
                        fxLayout.gt-md="row" fxLayoutGap.gt-md="20px">

    <mat-card class="ai-card" appearance="outlined">
        <mat-card-header fxLayOut fxLayoutAlign="center center">
            <mat-card-title>AI</mat-card-title>
            <mat-card-subtitle>AI Recommendations</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3>
                Fitness isn't about perfection—it's about persistence. 
                Every drop of sweat, every rep, and every early morning push takes you one step closer to a stronger, 
                healthier version of yourself.
            </h3>
        </mat-card-content>
    </mat-card>

    
</div>



