.welcome{
    padding: 50px;
    text-align: center;
}

mat-card {
    height: 40vh;
    width: 50vh;
}

mat-card-header {
    margin-bottom: 30px;
}

.ai-card {
    width: 100vh;
    height: 40vh;
}

.ai-div {
    text-align: center;
}